@model Dynamo.Model.ELearnings.ELearning

@{
    ViewData["Title"] = "ELearnings | Details";
}

<div class="header bg-custom pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Details</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a asp-action="Index">E-Learnings</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Details</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a class="btn btn-sm btn-neutral" asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="card mb-4 animated fadeIn">
        <div class="card-header py-2">
            <h3 class="mb-0">Details E-Learning</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control" rows="4" disabled></textarea>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="DateOfUpload" class="control-label"></label>
                        <input value="@Html.DisplayFor(model => model.DateOfUpload)" name="DateOfUpload" class="form-control" disabled />

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="ELearningFileName1" class="control-label"></label>
                        @if (Model.ELearningFileName1.ToLower() == "no file")
                        {
                            <label class="btn btn-primary d-block" data-toggle="popover"><i class="fa fa-ban mr-2"></i>No Attachment</label>
                        }
                        else
                        {
                            <a class="btn btn-primary d-block" href='~/files/e_learnings/@Model.ELearningFileName1' target="_blank"> <i class="fa fa-download mr-2"></i> Download</a>
                        }
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="ELearningFileName2" class="control-label"></label>
                        @if (Model.ELearningFileName2.ToLower() == "no file")
                        {
                            <label class="btn btn-primary d-block" data-toggle="popover"><i class="fa fa-ban mr-2"></i>No Attachment</label>
                        }
                        else
                        {
                            <a class="btn btn-primary d-block" href='~/files/e_learnings/@Model.ELearningFileName2' target="_blank"> <i class="fa fa-download mr-2"></i> Download</a>
                        }
                    </div>
                </div>
                <div class="col-md-12">
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script type="text/javascript">
    var initial_url = $(location).attr('href');
    var splitted_url = initial_url.split('/');
    var new_url = document.location.origin + '/' + splitted_url[3];
    $('.label0 > a.nav-link').filter(function () {
        return this.href == new_url;
    }).parent().addClass('nav-color-active');
</script>
}