@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="header bg-custom pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Privacy</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">Cookies</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Privacy</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a class="btn btn-sm btn-neutral" asp-action="Create">New</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header border-0">
                    <h3 class="mb-0">Privacy</h3>
                </div>
                <div class="card-body">
                    <p>Cookies generally are used to perform one or all of the following :</p>
                    <ul>
                        <li><span class="font-weight-bold">Authentication :</span> Cookies help websites determine if a user is logged in, and then deliver the right experience and features to that unique user.</li>
                        <li><span class="font-weight-bold">Security :</span> Cookies help impose security measures on a website. They also help detect unusual and suspicious activities.</li>
                        <li><span class="font-weight-bold">Performance :</span> Cookies help website learn how services work for different people and how to route traffic between servers.</li>
                        <li><span class="font-weight-bold">Analytics and Research :</span> Websites and apps use cookies to learn which of their services are most used. This helps determine what to improve, what to remove and what to leave the same.</li>
                    </ul>
                    <p class="text-right text-blue font-weight-bold">
                        <a href="https://www.neurostormsoft.com">- NeuroStorm</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>