@model Dynamo.Model.Common.UserProfiles.ViewModels.UserProfileViewModel

@{
    ViewData["Title"] = "Update Profile";
}

@section Css {
    <link asp-append-version="true" rel="stylesheet" href="~/vendor/lightbox/lightbox.min.css">
    <style>
        .custom-file-label {
            line-height: 1.9 !important;
            padding-top: 8px !important;
            color: #525f7f !important;
        }
    </style>
}

<div class="header bg-custom pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Update Profile</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">Navigation</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Update Profile</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a class="btn btn-sm btn-neutral" href="javascript: history.go(-1)">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--6">
    <div class="card mb-4 animated fadeIn">
        <div class="card-header">
            <h3 class="mb-0">Update User Profile</h3>
        </div>
        <div class="card-body">
            <form asp-action="UpdateProfile" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="ApplicationUserId" />
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Phone Number</label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="City" class="control-label"></label>
                            <input asp-for="City" class="form-control" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Nationality" class="control-label"></label>
                            <input asp-for="Nationality" class="form-control" />
                            <span asp-validation-for="Nationality" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Photo" class="control-label"></label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" asp-for="Photo" data-toggle="popover" data-html="true" data-title="Old File" data-content=" <b class='text-danger'> @Html.DisplayFor(model => model.OldPhotoName)</b>">
                                <label class="custom-file-label overflow-hidden" for="Photo">@Html.DisplayFor(model => model.OldPhotoName)</label>
                                <input type="hidden" asp-for="OldPhotoName" />
                                <span asp-validation-for="Photo" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div>
                                <a class="example-image-link" href="~/files/user_profiles/@Html.DisplayFor(model => model.OldPhotoName)" data-lightbox="example-1">
                                    <img class="d-block example-image" style="width: 100px" src="~/files/user_profiles/@Html.DisplayFor(model => model.OldPhotoName)" alt="" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/vendor/lightbox/lightbox.min.js" asp-append-version="true"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
        $("input[type='file']").on("change", function () {
            if (this.files[0].size > 120000) {
                $.alert({
                    icon: 'fa fa-exclamation-triangle',
                    theme: 'material',
                    closeIcon: true,
                    animation: 'scale',
                    type: 'red',
                    theme: 'dark',
                    title: 'Alert!',
                    content: 'Please upload image less than 120KB. Thanks!',
                    buttons: {
                        no: {
                            text: 'Ok',
                            btnClass: 'btn-primary btn-sm',
                            action: function () {

                            }
                        }
                    }
                });
                $(this).val('');
            }
        });
    </script>
}