@model DecathlonDynamoErpApp.Models.ViewModel.UpdatePasswordViewModel


@{
    ViewData["Title"] = "Update Password";
}

@section Css {
    <link asp-append-version="true" rel="stylesheet" href="~/vendor/select2/dist/css/select2.min.css">
}

@section Sole {
    <style>
        .table td, .table th {
            padding: .7rem;
        }

        .table label {
            margin-bottom: 0;
        }
    </style>
}

<div class="header bg-custom pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Update Password</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">Master Setup</a></li>
                            <li class="breadcrumb-item"><a href="#">Users</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Change Password</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="card mb-4 animated fadeIn">
        <div class="card-header py-2">
            <h3 class="mb-0">Update Password</h3>
        </div>
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <form asp-action="UpdatePassword" asp-controller="Account" method="post">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="PreviousPassword" class="control-label"></label>
                            <input asp-for="PreviousPassword" class="form-control" />
                            <input type="hidden" asp-for="UserId" class="form-control" />
                            <span asp-validation-for="PreviousPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="NewPassword" class="control-label"></label>
                            <input placeholder="Min 8 Characters,Min 1 Upper Case and Min 1 Alphanumeric" asp-for="NewPassword" class="form-control" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="ConfirmNewPassword" class="control-label"></label>
                            <input asp-for="ConfirmNewPassword" class="form-control" />
                            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <input type="submit" value="Update" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/vendor/select2/dist/js/select2.min.js" asp-append-version="true"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}