@model Dynamo.Model.Sot.ManualJob

@{
    ViewData["Title"] = "Manual Jobs | Create";
}

@section Css {
    <style>
        .custom-file-label {
            line-height: 1.9 !important;
            padding-top: 8px !important;
            color: #525f7f !important;
        }

        .form-group span.text-danger, table.table span.text-danger {
            padding: .5rem;
            margin-top: .1rem;
            font-size: .875rem;
            line-height: 2;
            color: #fff !important;
            background-color: rgba(220,53,69,.8);
            border-radius: .2rem;
            padding: 0 10px;
            position: unset;
        }
    </style>
}

<div class="header bg-custom pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Create</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">Archive</a></li>
                            <li class="breadcrumb-item"><a href="#">SOT</a></li>
                            <li class="breadcrumb-item"><a asp-action="Index">Manual Jobs</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Create</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a class="btn btn-sm btn-neutral" asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--6">
    <div class="card mb-4 animated fadeIn">
        <div class="card-header py-2">
            <h3 class="mb-0">Create Manual Job</h3>
        </div>
        <div class="card-body">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        var initial_url = $(location).attr('href');
        var splitted_url = initial_url.split('/');
        var new_url = document.location.origin + '/' + splitted_url[3];
        $('.label2 ul li > a.nav-link').filter(function () {
            return this.href == new_url;
        }).addClass('active').parent().parent().parent().addClass('show').parent().addClass('nav-color-active');
    </script>
}