@model Dynamo.Model.Skills.SkillMatrix

@{
    ViewData["Title"] = "Skill Matrix | Create";
}

@section Css {
    <link rel="stylesheet" href="~/vendor/select2/dist/css/select2.min.css">
}

<div class="header bg-custom pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Create</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">Domain</a></li>
                            <li class="breadcrumb-item"><a asp-action="Index">Skill Matrices</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Create</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a class="btn btn-sm btn-neutral" asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="card mb-4 animated fadeIn">
        <div class="card-header">
            <h3 class="mb-0">Create Skill Matrix</h3>
        </div>
        <div class="card-body">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="OperationId" class="control-label"></label>
                            <select asp-for="OperationId" class="form-control d-none" data-toggle="select" asp-items="ViewBag.OperationId"></select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="OperatorId" class="control-label"></label>
                            <select asp-for="OperatorId" class="form-control d-none" data-toggle="select" asp-items="ViewBag.OperatorId"></select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="StandardSotInSecond" class="control-label"></label>
                            <input asp-for="StandardSotInSecond" class="form-control" />
                            <span asp-validation-for="StandardSotInSecond" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="StandardRft" class="control-label"></label>
                            <input asp-for="StandardRft" class="form-control" />
                            <span asp-validation-for="StandardRft" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="SotScore" class="control-label"></label>
                            <input asp-for="SotScore" class="form-control" />
                            <span asp-validation-for="SotScore" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="RftScore" class="control-label"></label>
                            <input asp-for="RftScore" class="form-control" />
                            <span asp-validation-for="RftScore" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="UpdatedOn" class="control-label"></label>
                            <input name="UpdatedOn" class="form-control datepicker" />
                            <span asp-validation-for="UpdatedOn" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/vendor/select2/dist/js/select2.min.js" asp-append-version="true"></script>
    <script src="~/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" asp-append-version="true"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}